.landingPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: var(--solar-bank-default-heading-text-size);
}

.paragraph {
  font-size: var(--solar-bank-default-text-size);
}

.icon {
  @apply size-24 m-0;
  color: var(--solar-bank-primary-colour);
}
